<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<header>		
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">	
		  <a class="navbar-brand text-white ml-5" href="#">Odisea News</a>		  
		</nav>
		
	</header>
	
	<div class="container">
			
		<div class="card bg-danger text-white mt-5">
		
			<div class="card-header">ERROR: ACCESO DENEGADO</div>
			
			<div class="card-body">
				<h5 class="card-title">
					Lo sentimos <span th:text="${#authentication.name}"></span>, No tienes permisos para acceder a este recurso
				</h5>
				<a href="/logout" class="btn btn-outline-light" role="button">Cerrar sesión</a>
			</div>
			
		</div>		
	</div>


	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>