<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
	<p class="mt-3"><br></p>
	<div class="container">
			
			<div class="row justify-content-center mt-5">
		
			
				<div class="col-md-5 mt-5">
						
					<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${error != null}">
					  <p th:text="${error}" class="text-center"></p>
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    <span aria-hidden="true">&times;</span>
					  </button>
					</div>
					
					<div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${success != null}">
					  <p th:text="${success}" class="text-center"></p>
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    <span aria-hidden="true">&times;</span>
					  </button>
					</div>
					
					<div class="card">		
					
						<img class="border" src="https://image.ibb.co/bsViuS/logo_ODISEA_enorme.jpg" width="100%"/>
							
						<div class="card-body centrar">						
						
							
														
							
							<form th:action="@{/login}" method="post">
								
								<div class="md-form">
							        <i class="fa fa-user prefix grey-text"></i>
							        <input type="text" name="username" id="username" class="form-control" autofocus required="required" />
							        <label for="username">Login</label>
							    </div>
								
								<div class="md-form">
							        <i class="fa fa-lock prefix grey-text"></i>
							        <input type="password" name="password" id="password" class="form-control" required="required" />
							        <label for="password">Password</label>
							    </div>
								
								<div class="text-center mt-4">
							        <button class="btn btn-primary" type="submit"><i class="fa fa-sign-in-alt"></i> Login</button>
							    </div>
						
							</form>
														
							</p>	
							<small id="emailHelp" class="form-text text-muted text-center">
								<a href="/forgotPassword">Forgot your password?</a>
							</small>
																				
						 </div>
					</div>
				</div>
			</div>
					
		</div>


	<!-- JQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
</body>
</html>