<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<header th:replace="layout/layout :: header"></header>
	
	<div class="container mb-5">
			
			<div class="row justify-content-center">
		
				<div class="col-xs-1 mt-5">
					<a href="javascript:window.history.back();" class="btn btn-primary btn-lg"><i class="fas fa-long-arrow-alt-left"></i> Atrás</a>
				</div>
			
				<div class="col-md-6 mt-5">
						
					<div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${error != null}">
					  <i class="fa fa-times"></i>
					  <p th:text="${error}" class="text-center"></p>
					  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					    <span aria-hidden="true">&times;</span>
					  </button>
					</div>
					
					<div class="card mb-5">				
						<div class="card-body centrar">
						
							<div class="card-header text-center">
    							<h1 class="card-title">Nueva categoria</h1> 
  							</div>
							
							<p class="card-text mt-4"> 
							
							
							<form th:action="@{/crearCategoria}" method="post" enctype="multipart/form-data">

								<div class="form-group row">
									<div class="col">
										<label for="nombre" class="col-form-label">Nombre</label>
										<input type="text" name="nombre" id="nombre" class="form-control" autofocus required="required" />
									</div>
									
								</div>
								
								<div class="form-group row">
											
									<div class="col">
																			
										<div class="custom-file">
										  <input type="file" class="custom-file-input" name="imagen" id="imagen" lang="es" required="required" accept=".jpg,.jpeg,.png">
										  <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
										  
										</div>
									</div>
													
								</div>
			
								<div class="form-group row mt-2">

									<div class="col">
										<button type="submit" class="btn btn-lg btn-success btn-block mt-3">Crear</button>
									</div>
								</div>
						
							</form>
														
																					
						 </div>
					</div>
				</div>
			</div>
					
		</div>


	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>