<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	
	<p class="mt-3"><br></p>
	<div class="container">
			
			<div class="row justify-content-center mt-5">
		
			
				<div class="col-md-5 mt-5">
					
					<div class="card">		
											
						<div class="card-body centrar">						
																											
								<p class="h4 text-center py-4">User account activated</p>												
							</p>														
						 </div>
					</div>
				</div>
			</div>
					
		</div>


	<!-- JQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js"></script>
	<script type="text/javascript">
		redireccionar();
	  	function redireccionar() {
	    	setTimeout("location.href='http://odiseanews.com'", 1500);
	  	}
	 </script>
</body>
</html>